.textContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 20px; /* row-gap column gap */
}
#editor {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 200px;
  width: 80%;
}
#parsedText {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 200px;
  width: 80%;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 20px;
  margin-top: 50px;
}
#html {
    width: 80%;
}


/* CSS */
.button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
}